{% extends 'base-temp.html' %}
{% block title %}sign up{% endblock title %}
{% block body %}
<div class="container p-5", style="text-align:center;">
    <div class="error">{{ form.non_filed_errors }} </div>
    <form method="POST" action="{% url 'sign_up' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <div class="error">{{ field.errors }}</div>
            {{ field.label_tag }} <br>
            {{ field }}
        </div>
        {% endfor %}
        <button class="btm btm-primary" type="submit">Register</button>
    </form>
</div>
{% endblock body %}
