{% extends 'base-temp.html' %}
{% load static%}
{% block title %} Movies List {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for movie in movies %}
                <div class="col-sm-3 text-center">
                    <div class="card">
                        {% if movie.avatar %}
                        <img src="{{ movie.avatar.url }}" alt="{{ movie.title }}" class="card-img-top">
                        {% else %}
                        <img src="" alt="Movie " class="avatar">
                        {% endif %}
                        <a href={% url "movie_detail" movie.id %}>
                        <h4>{{ movie.title }}</h4>
                        </a>
                        <p>{{ movie.get_description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}