{% extends 'base-temp.html' %}

{% block body %}
<div class="main">
    {% comment %} {{ form.non_field_errors }} {% endcomment %}
    <form action="{% url 'movie_list' %} " method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class=" form-group text-center">
            {% comment %} {{field.errors}} {% endcomment %}
            {{field.label_tag}} <br>
            {{field}}
        </div>
        {% endfor %}
        <div class="text-center">
        <button type="submit" class=" btn btn-primary">submit</button>
        </div>
    </form>    
</div>
{% endblock %}